<%= form_with url: search_post_index_path, method: :post do |form| %>
  <% @params_div = "to-be_updated" %>
  <% params[:div_id] = @params_div %>  
  <%= form.search_field :title_search, value: params[:title_search], oninput: "this.form.requestSubmit()" %>
  <%= form.hidden_field :div_id, value: params[:div_id] %> 
<% end %>
<%console%>
<div id="to-be_updated"></div>